# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "e6faa890d9ec4c4cef60aa548282751f"
name = "OU Wishlist"
application_url = "https://ou-wishlist.up.railway.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_draft_orders,write_draft_orders"

[auth]
redirect_urls = [
  "https://ou-wishlist.up.railway.app/api/auth/callback",
  "https://ou-wishlist.up.railway.app/api/auth/oauth/callback"
]
